
/* Variables */

:root {
    --greenapi-small-gap: calc(1em * 24 / 21);
    --greenapi-gap: calc(1em * 64 / 21);
}


/* Styles */

.container {
    max-width: 1280px;

    #app {
        display: flex;
        gap: var(--greenapi-gap);
        padding: 0 var(--greenapi-small-gap);
        box-sizing: border-box;

        &[data-loading="1"] {
            .controls {
                pointer-events: none;

                .controls_group {
                    button {
                        border-color: gray;
                        background: gray;
                    }
                }
            }
        }

        > * { width: 100%; }

        .controls {
            > * {
                margin-top: var(--greenapi-gap);
                margin-bottom: var(--greenapi-gap);
            }

            .controls_group {
                > * {
                    display: block;
                    width: 100%;
                    margin-top: var(--greenapi-small-gap);
                    margin-bottom: var(--greenapi-small-gap);
                }

                input {
                    margin: unset;
                }
            }
        }

        .output {
            display: flex;
            flex-direction: column;
            margin-top: var(--greenapi-gap);
            margin-bottom: var(--greenapi-gap);

            textarea {
                height: 100%;
                min-height: 40vh;
                margin: unset;
                resize: none;
            }
        }
    }
}


/* Media */

@media (max-width: 575px) {
    .container #app {
        flex-direction: column;
        gap: 0;
        padding: unset;
    }
}
